<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link text-black" href="/Owner">Owner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/Customer">Customer</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
