<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order Product</title>
</head>
<body>
    <form action="/orderproduct" method="POST">
        
        <label>name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  value="" name="name" /> 
        </div>
                    
        <label>price</label>
        <div class="col-sm-10">
            <input type="string" class="form-control" value="" name="price" /> 
        </div>
                                     
        <input type="submit" class="btnRegister" value="sumbit" />        

    </form>

</body>
</html>